{% extends "agriculture/index.html" %}

{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'agriculture/css/landing.css' %}">
{% endblock css %}



{% block content %}
    <div class="wrapper">
        <div class="firstpage">
            <div class="image">
                <img src="{% static 'agriculture/images/farmer.png' %}" alt="" class="image1">
            </div>
            <div class="headers">
                <h1 class="firstheader">Agriculture.</h1>
                <h1 class="secondheader">Greenery.</h1>
                <h1 class="thirdheader">Poverty.</h1>
            </div>
        </div>
        <div class="secondpage">
            <h1 class="firstnumber">1</h1>
            <h1 class="firsttitle">checking out the soil</h1>
            <img src="static/agriculture/images/farmer.png" alt="" class="image2">
            <p class="firsttext">Learn more about the soil in your area. Learn about the moisture. Learn about the temperature.</p>
        </div>
        <div class="thirdpage">
            <h1 class="secondnumber">2</h1>
            <h1 class="secondtitle">choosing the crop</h1>
            <img src="static/agriculture/images/farmer.png" alt="" class="image3">
            <p class="secondtext">Depending on the soil around your area, choose the crop you want to grow. </p>
        </div>
        <div class="fourthpage">
            <h1 class="thirdnumber">3</h1>
            <h1 class="thirdtitle">setting up a system</h1>
            <img src="static/agriculture/images/farmer.png" alt="" class="image4">
            <p class="thirdtext">Set up a system to send harvested crops to the market so that people can buy them and attain food. Make sure the system runs smoothly with long term in mind including a balance of economy and food accessiblity.</p>
        </div>
        <div class="fifthpage">
            <h1 class="fourthnumber">4</h1>
            <h1 class="fourthtitle">making food accessible for all</h1>
            <img src="static/agriculture/images/farmer.png" alt="" class="image5">
            <p class="fourthtext">Priority is on making food accessible for all. This allows to make sure poverty is removed step by step.</p>
        </div>
        <!-- <div class="text">
            <h1 class="h2">Choosing the crop</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus laboriosam odio corrupti voluptatum corporis consectetur quisquam voluptas blanditiis amet excepturi deleniti, tempora tenetur ullam dolorum quas laborum, officia optio perferendis asperiores quae fuga?</p>
        </div>
        <div class="image">
            <img src="static/agriculture/images/farmer.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus laboriosam odio corrupti voluptatum corporis consectetur quisquam voluptas blanditiis amet excepturi deleniti, tempora tenetur ullam dolorum quas laborum, officia optio perferendis asperiores quae fuga?</p>
        </div>
        <div class="text">
            <h1 class="h3">Finding the right soil</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus laboriosam odio corrupti voluptatum corporis consectetur quisquam voluptas blanditiis amet excepturi deleniti, tempora tenetur ullam dolorum quas laborum, officia optio perferendis asperiores quae fuga?</p>
        </div>
        <div class="image">
            <img src="static/agriculture/images/farmer.png" alt="">
        </div>
        <div class="text">
            <h1 class="h4">Setting up a system</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus laboriosam odio corrupti voluptatum corporis consectetur quisquam voluptas blanditiis amet excepturi deleniti, tempora tenetur ullam dolorum quas laborum, officia optio perferendis asperiores quae fuga?</p>
        </div>
        <div class="image">
            <img src="static/agriculture/images/farmer.png" alt="">
        </div>
        <div class="text">
            <h1 class="h5">Access to food for all</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus laboriosam odio corrupti voluptatum corporis consectetur quisquam voluptas blanditiis amet excepturi deleniti, tempora tenetur ullam dolorum quas laborum, officia optio perferendis asperiores quae fuga?</p>
        </div>
        <div class="image">
            <img src="static/agriculture/images/farmer.png" alt="">
        </div> -->
    </div>
{% endblock content %}